<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>TrombinOclock</title>
  <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<header>
    <a href="/"><img src="https://oclock.io/images/logo-short.66184eb7.svg" alt="logo" id="logo"></a>
    <h1> <a href="/"> TrombinO'clock </a></h1>
    <nav>
        <ul>
            <li>
                <a href="/promotions">Liste des promotions</a>
            </li>
            <li>
                <a href="/students">Liste des étudiants</a>
            </li>
            <form action="/" method="post">
                <input type="text" placeholder="Recherche" name="search">
                <input type="submit" value="Rechercher">
            </form>

        </ul>
    </nav>
</header>
<main>